<div class="card">
    <div class="card-header">
    </div>
    <div class="card-content">
            Salle : {{ salle.roomName }}
            <button class="btn btn-danger" (click)="deleteSalle()">&times;</button>
            <button type="button" class="btn btn-primary monBtn" (click)="newFilm()">Affecter un film</button>

    </div>
</div>