<header>
    <h2>Liste des films</h2>
</header>
<div>
    <button type="button" class="btn btn-primary monBtn" (click)="newFilm()">Ajouter un film</button>
    <app-film-card [film]="film" *ngFor="let film of films" (deleteEmitter)="refreshFilms()"></app-film-card>
</div>