<header>
    <h2>Liste des clients</h2>
</header>
<div>
    <button type="button" class="btn btn-primary monBtn" (click)="newClient()">Ajouter un client</button>
    <app-client-card [client]="client" *ngFor="let client of clients" (deleteEmitter)="refreshClients()"></app-client-card>
</div>