<h2>Nouveau client</h2>

<form [formGroup]="clientForm" (ngSubmit)="sendForm()">
    <div>
        <label>Nom</label>
        <input type="text" id="name" formControlName="name">
    </div>
    <div>
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" formControlName="firstname">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!clientForm.valid">Ajouter</button>
</form>