<h2>Nouveau film</h2>

<form [formGroup]="filmForm" (ngSubmit)="sendForm()">
    <div>
        <label>Titre du film</label>
        <input type="text" id="title" formControlName="title">
    </div>
    <div>
        <label>Description</label>
        <textarea type="text" id="overview" formControlName="overview"></textarea>
    </div>
    <div>
        <label>Date de sortie</label>
        <input type="text" id="release_date" formControlName="release_date">
    </div>
    <div>
        <label>Affiche du film (Lien d'une image)</label>
        <input type="text" id="poster_path" formControlName="poster_path">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!filmForm.valid">Ajouter</button>
</form>