<h2>Nouvelle salle</h2>

<form [formGroup]="salleForm" (ngSubmit)="sendForm()">
    <div>
        <label>Nom de la salle</label>
        <input type="text" id="roomName" formControlName="roomName">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!salleForm.valid">Ajouter</button>
</form>