.monImage {
    width: 300px;
    height: 400px;
    border-radius: 2px;
    border: 2px solid black;
}

* {
    margin-left: .5em;
}

.description {
    border: 1px solid black;
    border-radius: 2px;
    width: 600px;
    padding: 40px;
    float: left;
}

#desc {
    color: black;
    font-weight: bold;
}