<div class="card">
    <div class="card-header">
        <h4>Titre du film : {{ film.title }}</h4>
    </div>
    <div class="card-content">
            <div class="description">
                <span id="desc">Description :</span> {{ film.overview }}<br>
                <span id="desc">Date de sortie :</span> {{ film.release_date }}
                
            </div> 
            <img class="monImage" [src]="film.poster_path">

    </div>
</div>