<header>
    <h2>Liste des salles</h2>
</header>
<div>
    <button type="button" class="btn btn-primary monBtn" (click)="newSalle()">Ajouter une salle</button>
    <app-salle-card [salle]="salle" *ngFor="let salle of salles" (deleteEmitter)="refreshSalles()"></app-salle-card>
</div>