<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="films">Liste des films</a></li>
          <li routerLinkActive="active"><a routerLink="clients">Clients</a></li>
          <li routerLinkActive="active"><a routerLink="salles">Salles</a></li>
          <li routerLinkActive="active"><a routerLink="reservations">Réservations</a></li>
        </ul>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>
